version: "3.8"

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  consumer:
    build:
      context: ./Consumer
      dockerfile: Dockerfile
    container_name: helfy-consumer
    depends_on:
      - kafka
    ports:
      - "3000:3000"
    environment:
      PORT: 3000
      KAFKA_BROKERS: kafka:9092
      KAFKA_TOPIC: test-topic
      KAFKA_GROUP_ID: helfy-group
    command: ["node", "consumer-app.js"]

  producer:
    build:
      context: ./Producer
      dockerfile: Dockerfile
    container_name: helfy-producer
    depends_on:
      - kafka
    ports:
      - "4000:4000"
    environment:
      PORT: 4000
      KAFKA_BROKERS: kafka:9092
      KAFKA_TOPIC: test-topic
    command: ["node", "producer-app.js"]
